.box {
	display: block;
	margin: auto;
	width: 40%;
	border: 3px solid green;
	padding: 10px;
}

.box_controls_info {
	display: block;
	width: 95%;
	margin: 0 auto;
	font-size: 10px;
}

.box_input {
	display: block;
	width: 95%;
	margin: 0 auto;
}

.box_text {
	white-space: normal;
	display: block;
	width: 95%;
	padding-bottom: 30px;
	margin: 0 auto;
	/*font: normal 80% "Lucida Sans Unicode", sans-serif;*/
	font: "Arial", serif;
	font-size: 0px;
}

.current {
	text-decoration: underline;
	text-decoration-skip-ink: none;
}

.valid {
	/*color: #99cc00;*/
	color: #00916E;
}

.invalid {
	/*color: #803333;*/
	color: #DF2935;
	background-color: #f0a3a3;
}

span {
	white-space: pre-wrap;
	font-size: 20px;
	color: #271F30;
	margin: 0;
	padding: 0;
}


.graph_box {
	position: relative;
	width: 40%;
	margin: auto;
	height: 200px;
	/*padding: 30px 30px 30px 30px;*/
}
.graph {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
}
.graph_line {
	z-index: 10;
	position: absolute;
	width: 100%;
	height: 70%;
	bottom: 0;
	opacity: 0.5;
	background-color: pink;
}
.graph_column {
	flex: 1;
	display: inline-block;
	/*padding: 10px;*/
	margin-right: 5px;
	margin-left: 5px;
	background-color: red;
}
